.banner-search {
  background-image: url("./images/banner.jpg");
  min-height: 450px;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 10px;
  border-radius: 6px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
